BasedOnStyle: Mozilla

IndentWidth: 4
ColumnLimit: 90
DisableFormat: false

AlignArrayOfStructures: Left
AlignConsecutiveAssignments:
    Enabled: true
    AcrossEmptyLines: false
    AcrossComments: false
AlignConsecutiveDeclarations:
    Enabled: true
    AcrossEmptyLines: false
    AcrossComments: false
AlignEscapedNewlines: Left
AlignOperands: AlignAfterOperator
AlignTrailingComments:
    Kind: Always
    OverEmptyLines: 2

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false

AlwaysBreakBeforeMultilineStrings: false

BinPackArguments: true

BreakAdjacentStringLiterals: true
BreakArrays: false
BreakBeforeBraces: Attach
BreakBeforeConceptDeclarations: Never
BreakConstructorInitializers: BeforeColon

AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None

DerivePointerAlignment: true

IncludeBlocks: Preserve

IndentCaseBlocks: false
IndentCaseLabels: true
IndentPPDirectives: None
NamespaceIndentation: All

InsertNewlineAtEOF: true

PointerAlignment: Left
ReferenceAlignment: Right

QualifierAlignment: Left

SortIncludes: CaseInsensitive

SpaceAfterLogicalNot: false
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeInheritanceColon: true
SpaceBeforeJsonColon: false
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpacesInAngles: Never
SpacesInContainerLiterals: true

