@import url("/home/ben/.cache/wal/colors-waybar.css");

* {
  all: initial;
  font-family: "Noto Sans CJK KR Regular";
  font-size: 13px;
  min-height: 0;
  color: @foreground;
}

window#waybar {
  background: transparent;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#waybar.empty #window {
  background-color: transparent;
}

#window {
  margin: 2px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  border-top: 2px solid @color2;
}

#workspaces button {
  padding: 0 8px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-out;
}

#workspaces button:hover {}

#workspaces button.active {
  background-color: rgba(0, 0, 0, 0.3);
  color: @color2;
  border-top: 4px solid @color2;
}

#workspaces button.urgent {
  background-color: @color3;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

#clock {
  font-size: 14px;
  font-weight: bold;
}

tooltip {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  border: @color2 solid 1px;
}

tooltip * {
  padding: 3px;
  color: @foreground;
}

#battery icon {
  color: red;
}

#battery.charging,
#battery.plugged {
  background-color: @color2;
}

@keyframes blink {
  to {
    background-color: #ffffff;
  }
}

#battery.warning:not(.charging) {
  background-color: @color2;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  background-color: @color2;
  animation-name: blink;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#network.disconnected {
  background-color: #f53c3c;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#tray menu {
  background: rgba(0, 0, 0, 0.6);
  padding: 8px 4px;
  border-radius: 5px;
  border: @color2 solid 1px;
  transition: all 0.15s ease;
}

#tray menu>* {
  padding: 0 4px;
  transition: all 0.15s ease;
}

#tray menu>*:hover {
  background: @color2;
  border-radius: 4px;
}

#clock,
#battery,
#cpu,
#cava,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#submap,
#idle_inhibitor,
#scratchpad,
#mpris,
#mpd {
  margin: 2px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  color: @foreground;
  border-radius: 5px;
}

#cava {
  color: @color2;
  font-size: 12px;
}

#custom-cliphist,
#custom-wallpaper,
#custom-calculator,
#custom-system,
#custom-firefox,
#custom-chatgpt,
#custom-spotube,
#custom-programming,
#custom-files,
#custom-poweroff,
#custom-tools {
  padding: 0 6px;
  margin: 2px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.3);
  color: @foreground;
  border-radius: 5px;
}
