snippet imp1 "Import statement" 
import ${1:module}
endsnippet

snippet imp2 "Import statement" 
import ${1:module}
endsnippet

snippet imp3 "Import statement" 
import ${1:module}
endsnippet

snippet imp4 "Import statement" 
import ${1:module}
endsnippet
