#navigator-toolbox {
  --toolbar-bgcolor: transparent;
}

:root {
  --navbarWidth: 40vw;
  --animationSpeed: 0.15s;
  --tabpanel-background-color: transparent !important;
}

/* Hide back button only when disabled */
#back-button[disabled="true"] {
  display: none !important;
}

/* Forward button */
#forward-button {
  display: none !important;
}

/* Hide forward button only when disabled */
#forward-button[disabled="true"] {
  display: none !important;
}

/* "Shield" icon */
#tracking-protection-icon-container {
  display: none !important;
}

/* Site information button */
#identity-box {
  display: none !important;
}

/* Zoom button */
#urlbar-zoom-button {
  display: none !important;
}

/* Tab close button */
.tab-close-button {
  display: none !important;
}

.tab-newtab-button {
  display: none !important;
}

.tabbrowser-tab:hover .tab-close-button {
  display: -moz-inline-box !important;
}

#TabsToolbar {
  margin-left: var(--navbarWidth) !important;
}

#nav-bar {
  margin-right: calc(100vw - var(--navbarWidth)) !important;
  background: transparent !important;
}

#urlbar-container {
  min-width: 0px !important;
}

:root[uidensity="compact"] #nav-bar {
  margin-top: -37px !important;
  height: 37px !important;
}

:root:not([uidensity="compact"]):not([uidensity="touch"]) #nav-bar {
  margin-top: -44px !important;
  height: 44px !important;
}

:root[uidensity="touch"] #nav-bar {
  margin-top: -49px !important;
  height: 49px !important;
}

/* Dragging space */
:root[sizemode="maximized"] #TabsToolbar {
  margin-top: 1px;
}

#TabsToolbar {
  margin-top: 5px;
}

#nav-bar {
  background: none !important;
  box-shadow: none !important;
}

#navigator-toolbox {
  border: none !important;
}

.titlebar-spacer {
  display: none !important;
}

#urlbar-background {
  border: none !important;
  outline: none !important;
}

#urlbar {
  outline: none !important;
}

#urlbar:not(:hover):not([breakout][breakout-extend])>#urlbar-background {
  box-shadow: none !important;
  background: none !important;
}

.urlbar-icon,
#userContext-indicator,
#userContext-label {
  fill: transparent !important;
  background: transparent !important;
  color: transparent !important;


  #urlbar:hover .urlbar-icon,
  #urlbar:active .urlbar-icon,
  #urlbar[focused] .urlbar-icon {
    fill: var(--toolbar-color) !important;
  }
}

/* animations */
.subviewbutton,
#urlbar-background,
.urlbar-icon,
#userContext-indicator,
#userContext-label,
.urlbar-input-box,
#identity-box,
#tracking-protection-icon-container,
[anonid=urlbar-go-button],
.urlbar-icon-wrapper,
#tracking-protection-icon,
#identity-box image,
stack,
tab:not(:active) .tab-background,
tab:not([beforeselected-visible])::after,
tab[visuallyselected] .tab-background::before,
tab[visuallyselected] .tab-background::before,
.tab-close-button {
  transition: var(--animationSpeed) !important;
}

window,
#main-window,
#toolbar-menubar,
#TabsToolbar,
#PersonalToolbar,
#navigator-toolbox,
#sidebar-box {
  background-color: rgba(41, 47, 52, 0.1) !important;
  -moz-appearance: none !important;
  background-image: none !important;
}

.tab-background[selected] {
  -moz-appearance: none !important;
  background-image: none !important;
  background-color: rgba(33, 37, 41, 0.1) !important;
}

#nav-bar {
  background-color: rgba(33, 37, 41, 0.1) !important;
  -moz-appearance: none !important;
}
